@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', sans-serif;

}


nav{
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    
}

#logo{
    max-width: 30rem;
    background-color: white;

}

.navlink:hover{
    text-decoration: underline;
}

.navlink:focus{
    opacity: .8;
}

ul {
    padding: 0;

}

ul a {
    font-size: 2.5rem;
    margin: 20px;
    text-decoration: none;
    color: black;
}


.content{
    display: flex;
    justify-content: center;
}

.content img{
    width: 100%;
    margin-right: 2rem;
    margin-left: 2rem;
}

.rank-container{
    display: flex;
    justify-content: space-evenly;
}

.rank-list{
    font-size: 2rem;
    opacity: 1;
}

.rank-list .injured{
    list-style: none;
}




#rank-footer{
    margin: auto;
    width: 70%; 
    padding: 50px;
    word-wrap: break-word;
}

#rank-footer p{
    text-align: center;
    margin-bottom: 1rem;
}