@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', sans-serif;

}


nav{
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}







#logo{
    max-width: 25rem;
    width: 25vw;
    /* background-color: white; */

}

.navlink:hover{
    
    text-decoration: underline;
    text-decoration-color: rgb(206, 219, 18);
}

.navlink:focus{
    opacity: .8;
}

nav ul {
    padding: 0;

}

ul a {
    font-size: 2.5rem;
    margin: 20px;
    text-decoration: none;
    color: black;
}


#mainImage {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Set maximum width to 100% */
    max-height: 100vh; /* Set maximum height to 100% of the viewport height */
    overflow: hidden; /* Hide any overflowing content */
}

#mainImage img {
    max-width: 100%; /* Ensure the image inside scales down proportionally */
    height: auto; /* Maintain the image's aspect ratio */
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.gallery-item {
    max-width: 30rem;
    min-width: 150px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 5px;
    margin-right: 5px;

    margin: 2px 5px;
    box-shadow: 0 0px 10px rgb(0, 0, 0);


}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}



.smallpicture-container{
    display: flex;
    
    align-items: center;
    padding: 0;
    width: 80%;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content a{
    font-size: 1.5rem;
    margin: 2rem;
    color: black;
    text-align: center;
}


.content img{
    width: 100%;
    margin-right: 2rem;
    margin-left: 2rem;
}

.content h1{
    text-decoration: underline;
}

.rank-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.rank-list{
    font-size: 2rem;
    opacity: 1;
    border: 2px solid;
    padding: 2px 10px 2px 40px;
    
}

.rank-list p{
    text-decoration: underline;
}

.rank-list .injured{
    list-style: none;
}

#upcoming-matches{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border: black solid;
    padding: 1rem;
}

.match{
    list-style-type: none;
    margin: .5rem;
}


.text-box{
    margin: auto;
    width: 100%; 
    padding: 5px 50px;
    word-wrap: normal;
    line-height: 2.5rem;
    word-spacing: 7px;
    
}

.text-box p{
    text-align: center;
    margin-bottom: 1rem;
    font-size: larger;
    
    
}

#sponsorDetails{
  word-spacing: normal;
   
}



.headline{
    text-align: center;
    text-decoration: underline;
    word-wrap: normal;
}

#about{
    margin: 10px 10px;
    border: 2px;
    border-style: solid;
    text-align: left;
    text-indent: 4rem;
    padding: 1rem;
    letter-spacing: .45px;
}



#affiliates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

#affiliates ul{
    border: black solid;
    padding: 2rem;
}

#affiliates li{
    font-size: large;
    list-style-type: none;
}



form{
    background:white;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    
}

form h3{
    color: black;
    font-size:larger;
    margin-bottom: 20px;
    
}

form input, form textarea{
    margin: 10px 0;
    padding: 20px;
    background: white;
    font-size: 16px;
    border-radius: 10px;
}

form button{
    padding: 15px;
    background: rgb(206, 219, 18);
    color: black;
    font-size: 18px;
    cursor:pointer;
    border-radius: 10px;
    
}

#sponsor-form{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.social-content{
    display: flex;
    flex-direction: column;
    align-items:center;

}

.social-content a{
    color: black;
    font-size: 2rem;
    margin: 1rem;
    text-decoration: none;
    text-align: center;
}

.social-content a:hover{
   
    text-decoration: underline;
    text-decoration-color: rgb(206, 219, 18);
}

.social-content a:focus{
    opacity: .8;
}

.sponsors{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    
}



.sponsors img{
    height: 6rem;
    margin: 1rem;
}

#davisDiesel{
    height: 15rem;
}
#sideHustle{
    height: 25rem;
}

#mobile-nav{
    display: none;
    
}




@media (max-width: 1199.98px){
    #desktop-nav{
        display: none;
    }
    #mobile-nav{
        display: block;
    }

    #nav-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    #logo{
       width: 15rem;
    }
    .sponsors img{
    height: 5rem;
    }
    
    
}


@media (max-width: 767.98px){

    ul a{
        font-size: medium;
    }

    #logolink{
        padding: 0px 50px;
    }
    #logo{
        width: 12rem;
     }
    .headline{
        font-size: 1.5rem;
    }
    .text-box{
        padding: 0;
    }
    .text-box p{
        padding: 20px;
    }
    .rank-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #right-hand, #left-hand{
        margin-bottom: 2rem;
        font-size: larger;
    }
    .social-content a{
        font-size: 1.5rem;
        
    }
    .sponsors img{
    height: 3.5rem;
    }
    #davisDiesel{
        height: 10rem;
    }
    #sideHustle{
        height: 15rem;
    }

}


/* accomadate iphone 4 and down device widths */
@media (max-width: 360px){

    ul a{
        font-size: small;
        margin: 10px;
    }

    #logolink{
        padding: 0px 0px;
    }
    .sponsors img{
    height: 2rem;
    }
    #davisDiesel{
        height: 6rem;
    }
    #sideHustle{
        height: 8rem;
    }
}